__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
.env.*
*.log
*.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.git
.gitignore
Dockerfile
docker-compose.dev.yml
docker-compose.prod.yml

.vscode/
.idea/
*.swp
*.swo

frontend/node_modules/
frontend/build/
frontend/.env
frontend/.cache/

*.tmp
*.bak
