__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.venv
venv/
ENV/

*.env
*.env.*
!*.env.example   # Allow example env file

build/
dist/
*.egg-info/
.eggs/

.cache/
.pytest_cache/

alembic/__pycache__/
alembic/versions/*.pyc

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/

frontend/.env
frontend/.env.*
!frontend/.env.example

db_auth_data/
db_inv_data/
docker-volume/
docker-data/
docker/volumes/

*.pid
*.log

.vscode/
.history/

.idea/

.DS_Store

Thumbs.db
desktop.ini

*.log
logs/
