repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: ruff-linter
        args: ["--fix"]
      - id: ruff-format
        name: ruff-formatter

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        name: eslint
        files: \.(js|jsx)$
        args: ["--fix"]
        additional_dependencies:
          - eslint@8.56.0
          - eslint-plugin-simple-import-sort
          - eslint-plugin-import

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: prettier
        files: \.(js|jsx|json|css|scss|md)$
